@charset "utf-8";
main{
    width: 1260px;
    height: 1751px;
    margin: 35px auto 100px;
}
main>h1{
    width: 431px;
    height: 35px;
    margin: 0 auto 50px;
    background:url("../images/sprites_0.png") no-repeat 0 0;
}
.first-box{
    display: flex;
    justify-content: space-between;
}
/*轮播图*/
.Carousel-box{
    width: 814px;
    height: 388px;
    overflow: hidden;
    position: relative;
}
.Carousel-box>.img-box{
    position: relative;
    height: 388px;
    overflow: hidden;
}
.Carousel-box>.img-box>img{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}
.idots-box{
    width: 112px;
    height: 16px;
    position: absolute;
    left: 20px;
    bottom: 16px;
    display: flex;
    z-index: 999;
}
.idot-item{
    width: 16px;
    height: 16px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    display: block;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin-right: 12px;
    cursor: pointer;
    transition: all 0.2s;
}
.idot-item:hover{
    border: 2px solid #b6ccff;
    background-color: #b6ccff;
}
.active{
    background-color: #ffffff;
}

.image-box{
    width: 388px;
    height: 388px;
}
/*第二行*/
.elements{
    margin-top: 38px;
    display: flex;
}

/*第一列*/
.first-column{
    width: 388px;
    height: 814px;
    margin-right: 40px;
}
.mr-55{
    margin-right: 55px;
}
.mr-40{
    margin-right: 40px;
}
.mt{
    margin-top: 38px;
}
.last-column{
    width: 814px;
    height: 388px;
}
.upload{
    width: 830px;
    height: 388px;

}
.upload>img{
    width: 100%;
    height: 100%;
}
div.img-box>img.show {
    visibility: visible;
    opacity: 1;
    animation: imgScale 6s linear;
}
/* 设置图片放大原点 */
img.enlarge-1 {
    transform-origin: 10% 10%;
}
img.enlarge-2 {
    transform-origin: 90% 10%;
}
 img.enlarge-3 {
    transform-origin: 90% 90%;
}
img.enlarge-4 {
    transform-origin: 10% 90%;
}
/* 控制点 */
.slideList-point {
    position: absolute;
    left: 20px; bottom: 16px;
}
@keyframes imgScale {
    0% { transform: scale(1); }
    100% { transform: scale(1.2) }
}
/*向上*/
.Upward{
    position: fixed;
    right: 20px;
    bottom: 5%;
    cursor: pointer;
    display: none;
}